@import "../styles/style.scss";
@import "swiper/css";
@import "swiper/css/a11y";
@import "swiper/css/autoplay";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.swiper-button-prev,
.swiper-button-next {
    border-radius: 50%;
    background-color: rgba($color: #ffff, $alpha: 0.4);
    width: 44px;
    height: 44px;
    &::after {
        color: #fff;
        font-size: 1rem;
    }
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}
