.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    transition-duration: 0.5s;
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    padding: 10px 24px;
    letter-spacing: 0.5px;
    text-decoration: none;

    &--primary {
        border: 2px solid $color-primary;
        background-color: $color-primary;
        color: #fff;

        &:hover {
            background-color: $color-primary-lighter;
        }

        &.btn--disabled,
        &:disabled {
            border: 2px solid $color-disabled;
            background-color: $color-disabled;
        }

        &.btn--outline {
            background-color: transparent;
            color: $color-primary;

            &:hover {
                background-color: $color-primary-lighter;
                color: #fff;
            }

            &.btn--disabled,
            &:disabled {
                border: 2px solid $color-disabled;
                color: $color-disabled;

                &:hover {
                    background-color: $color-disabled;
                    color: #fff;
                }
            }
        }
    }

    &--secondary {
        border: 2px solid $color-secondary;
        background-color: $color-secondary;
        color: #fff;

        &:hover {
            background-color: $color-secondary-lighter;
        }

        &.btn--outline {
            background-color: transparent;
            color: $color-secondary;

            &:hover {
                background-color: $color-secondary-lighter;
                color: #fff;
            }
        }

        &.btn--disabled,
        &:disabled {
            border: 2px solid $color-secondary-lighter;
            border: 2px solid $color-secondary-lighter;
            background-color: $color-secondary-lighter;
        }
    }
}
