$color-primary: #171c60;
$color-primary-darker: darken($color-primary, 7%);
$color-primary-lighter: lighten($color-primary, 7%);
$color-secondary: #ff7551;
$color-secondary-darker: darken($color-secondary, 7%);
$color-secondary-lighter: lighten($color-secondary, 7%);

$color-disabled: #9FC1EF;
